@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes fastSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-fast-spin {
  animation: fastSpin 0.7s linear infinite;
}
