<ng-container *ngIf="!loading; else loader">
  <ng-container *ngIf="isAuthenticated && user; else unauthenticatedContent">
    <ml-header
      [name]="user.display_name"
      [admin]="user.is_admin">
    </ml-header>
    <div class="container content">
      <div class="my-3">
          <xng-breadcrumb></xng-breadcrumb>
      </div>
      <router-outlet> </router-outlet>
    </div>
  </ng-container>

  <ng-template #unauthenticatedContent>
    <router-outlet></router-outlet>
  </ng-template>
</ng-container>

<ml-footer></ml-footer>

<ng-template #loader>
  <div class="loader d-flex justify-content-center align-items-center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
