<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content [formGroup]="manageRegexForm">
  <div class="d-flex flex-column">
    <mat-form-field cdkFocusInitial>
      <mat-label>{{ data.entityType | titlecase }}</mat-label>
      <select matNativeControl formControlName="entity" [compareWith]="compareEntities">
        <ng-container *ngFor="let entity of data.entities">
          <option [ngValue]="entity">{{ entity.name }}</option>
        </ng-container>
      </select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Regex</mat-label>
      <input matInput formControlName="regex" placeholder="Enter Python regex" />
      <mat-error *ngIf="manageRegexForm.get('regex')?.hasError('invalidRegex')">
        Invalid Python regex
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Priority</mat-label>
      <input matInput formControlName="priority" type="number" placeholder="Priority (integer)" />
      <mat-error *ngIf="manageRegexForm.get('priority')?.hasError('pattern')">
        Priority must be an integer
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Permissions</mat-label>
      <select matNativeControl formControlName="permission">
        <option *ngFor="let permission of permissions" [value]="permission.value">{{ permission.title }}</option>
      </select>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">Cancel</button>
  <button mat-button [mat-dialog-close]="manageRegexForm.value" [disabled]="manageRegexForm.invalid">Ok</button>
</mat-dialog-actions>
