/* You can add global styles to this file, and also import other style files */
@use 'bootstrap/scss/bootstrap';
@import '~typeface-roboto/index.css';
@import '~material-design-icons-iconfont/dist/material-design-icons.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; padding-bottom: 4rem; }
.content { padding-bottom: 4rem; }
table.mat-table { margin-bottom: 4rem; }
