<h2 mat-dialog-title>Generate Access Key for {{ data.username }}</h2>
<p mat-dialog-content>
  Use the form below to generate a new access key. Select an expiration date (maximum validity: 1 year) and click
  "Request Token".
</p>

<mat-dialog-content>
  <form [formGroup]="form" class="form-container">
    <div class="row">
      <mat-form-field appearance="outline" class="date-picker" [color]="form.controls['expirationDate'].invalid ? 'warn' : 'primary'">
        <mat-label>Expiration Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="expirationDate" (dateChange)="onDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button color="primary" class="request-button" (click)="requestToken()" [disabled]="form.invalid">Request Token</button>
    </div>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Access Key</mat-label>
      <input matInput type="text" [value]="token" readonly>
      <button mat-icon-button matSuffix aria-label="Copy" (click)="copyInputMessage()">
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
