name: Unit tests
on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
  push:
    branches:
      - main
jobs:
  unit-tests:
    name: Run Unit testing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install dependencies
        run: |
          yarn install
        working-directory: web-react
      - name: Run tests
        run: |
          yarn test:coverage
        working-directory: web-react
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Run tests
        run: |
          python -m pip install --upgrade pip
          pip install tox
          tox -e py
      - name: Override Coverage Source Path for Sonar
        run: sed -i "s@<source>/home/runner/work/mlflow-oidc-auth/mlflow-oidc-auth</source>@<source>/github/workspace</source>@g" /home/runner/work/mlflow-oidc-auth/mlflow-oidc-auth/coverage.xml
      - name: SonarCloud Scan
        if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
        uses: SonarSource/sonarqube-scan-action@v7.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
